#disc
{
width: 175px;
float: left;
border-radius: 50%;
}

#speed
{
    float: left;
    font-size: large;
    margin-left: 30px;
}
.heading
{
    font size: 23px;
    width: 100%
    margin: 0px;
}
body
bacground-size: cover;
.play_button
{
    width: 130px;
    font-size: 25px;
    Margin: 0 px
}
.div speed_speed
{
    Float: left;
}
.div_speed_img
{
    width: 200px;
    border-radius: 100px;
}


.note{
font size: 15 max-width: ;
}
canvas
{
    border: 5px solid white;
    border: radius 20px;;
    width: 100
}
#volume
{
    font-size: 23px;
    .play button
    (
    )
}
